originalName {
    font-size:larger;
  }

  category {
    display: block;
    color: green
  }
  
  oldName {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: skyblue
  }